In [6]:
import pandas as pd
import pyarrow

In [25]:
green_raw = pd.read_csv('./data/green_unprepared.csv')
green_raw.head(10)

,vendorID,lpepPickupDatetime,lpepDropoffDatetime,passengerCount,tripDistance,puLocationId,doLocationId,pickupLongitude,pickupLatitude,dropoffLongitude,...,paymentType,fareAmount,extra,mtaTax,improvementSurcharge,tipAmount,tollsAmount,ehailFee,totalAmount,tripType
0,2,2016-01-09 18:58:58,2016-01-09 19:06:41,1,2.90,NaN,NaN,-73.938622,40.813137,-73.935532,...,2,10.5,0.0,0.5,0.3,0.00,0.0,NaN,11.30,1.0
1,2,2016-01-03 03:57:47,2016-01-03 04:18:20,1,7.49,NaN,NaN,-73.948914,40.828785,-73.974045,...,2,21.5,0.5,0.5,0.3,0.00,0.0,NaN,22.80,1.0
2,2,2016-01-12 07:50:03,2016-01-12 07:58:42,1,1.10,NaN,NaN,-73.949600,40.785564,-73.966515,...,2,7.5,0.0,0.5,0.3,0.00,0.0,NaN,8.30,1.0
3,2,2016-01-25 22:28:22,2016-01-25 23:01:53,3,4.52,NaN,NaN,-73.957603,40.729721,-73.958908,...,1,22.5,0.5,0.5,0.3,4.76,0.0,NaN,28.56,1.0
4,1,2016-01-14 17:34:18,2016-01-14 17:44:56,1,1.40,NaN,NaN,-73.920700,40.756775,-73.910950,...,1,8.5,0.5,0.5,0.3,1.95,0.0,NaN,11.75,1.0
5,2,2016-01-27 18:02:46,2016-01-27 18:33:01,1,5.56,NaN,NaN,-73.953568,40.787170,-74.004257,...,1,23.5,1.0,0.5,0.3,5.06,0.0,NaN,30.36,1.0
6,2,2016-01-27 23:36:55,2016-01-27 23:44:57,1,1.63,NaN,NaN,-73.966331,40.804417,-73.949562,...,1,8.0,0.5,0.5,0.3,1.86,0.0,NaN,11.16,1.0
7,2,2016-01-08 13:42:39,2016-01-08 13:50:55,1,1.41,NaN,NaN,-73.955208,40.804558,-73.939316,...,2,8.0,0.0,0.5,0.3,0.00,0.0,NaN,8.80,1.0
8,1,2016-01-12 23:01:47,2016-01-12 23:08:46,1,1.10,NaN,NaN,-73.959122,40.716579,-73.942322,...,2,6.5,0.5,0.5,0.3,0.00,0.0,NaN,7.80,1.0
9,2,2016-01-06 14:17:15,2016-01-06 14:21:32,1,0.76,NaN,NaN,-73.861938,40.730446,-73.849785,...,2,5.0,0.0,0.5,0.3,0.00,0.0,NaN,5.80,1.0

In [36]:
useful_columns_string= 'vendorID,tripDistance,fareAmount'

In [40]:
useful_columns_string

'vendorID,tripDistance,fareAmount'

In [57]:
green_columns_dic = { 
    "vendorID": "vendor",
    "fareAmount": "cost",
    "tripDistance": "distance"
}

dict_keys(['vendorID', 'fareAmount', 'tripDistance'])

In [78]:
useful_columns= ['vendorID','fareAmount','tripDistance']
test

In [157]:
test=["'a'",'b']
test

["'a'", 'b']

In [86]:
new_df = green_raw.dropna(how='all')
new_df = new_df[useful_columns]
new_df = new_df.rename(columns=green_columns_dic)

      vendor  cost  distance
0          2  10.5      2.90
1          2  21.5      7.49
2          2   7.5      1.10
3          2  22.5      4.52
4          1   8.5      1.40
...      ...   ...       ...
4995       2  28.5      8.74
4996       2  11.5      2.36
4997       2   8.0      2.06
4998       2   5.0      0.73
4999       1  10.5      2.50

[5000 rows x 3 columns]

In [150]:
def get_dict(dict_str):
    pairs = dict_str.strip("{}").split(";")
    print(pairs)
    new_dict = {}
    for pair in pairs:
        print(pair)
        key, value = pair.strip().split(":")
        new_dict[key.strip().strip("'")] = value.strip().strip("'")

    return new_dict

In [149]:
yello_columns = "'vendorID': 'vendor'; 'fareAmount': 'cost'; 'tripDistance': 'distance'"

In [143]:
yello_columns

"'vendorID': 'vendor'; 'fareAmount': 'cost'; 'tripDistance': 'distance'"

In [151]:
get_dict(yello_columns)

["'vendorID': 'vendor'", " 'fareAmount': 'cost'", " 'tripDistance': 'distance'"]
'vendorID': 'vendor'
 'fareAmount': 'cost'
 'tripDistance': 'distance'

{'vendorID': 'vendor', 'fareAmount': 'cost', 'tripDistance': 'distance'}

In [158]:
useful_columns = "'vendorID','fareAmount','tripDistance'"
useful_columns

"'vendorID','fareAmount','tripDistance'"

In [162]:
useful_columns_list = [s.strip().strip("'") for s in useful_columns.strip("[]").split(",")]
useful_columns_list

['vendorID', 'fareAmount', 'tripDistance']

In [194]:
from azureml.core import Workspace
from azureml.core.compute import AmlCompute, ComputeTarget
from azureml.pipeline.wrapper import component, Pipeline, dsl
import sys
from pathlib import Path

from cleanse import clean

In [181]:
workspace = Workspace.from_config(path = './config.json')
print(workspace.name, workspace.resource_group, workspace.location, workspace.subscription_id, sep='\n')

zhanxiaAML
MT
eastus
ee85ed72-2b26-48f6-a0e8-cb5bcf98fbd9

In [195]:
clean_fun = component.from_func(workspace, clean)
help(clean_fun)

Help on function [component] nyc clean (namespace: zhanxiaAML):

[component] nyc clean (namespace: zhanxiaAML)(*, input_data: "['AnyDirectory']" = None, useful_columns: 'str' = None, new_names: 'str' = None)
    pick useful columns and rename

    component yaml:
    ```yaml
    amlcomponentIdentifier:
      namespace: zhanxiaAML
      componentName: nyc clean
      componentVersion: 0.0.1
    isDeterministic: True
    jobType: Basic
    description: pick useful columns and rename
    metadata:
      annotations:
        codegenBy: dsl.component
    inputs:
    - name: Input data
      type: AnyDirectory
      optional: False
      description: input data, needs to be read as pandas dataframe
      argumentName: input_data
    - name: Useful columns
      type: String
      optional: False
      description: columns to keep, like 'vendorID','fareAmount'
      argumentName: useful_columns
    - name: New names
      type: String
      optional: False
      description: "new names mapping, like 'vendorID': 'vendor'; 'fareAmount': 'cost'"
      argumentName: new_names
    outputs:
    - name: Output data
      type: AnyDirectory
      description: output data after clean
      argumentName: output_data
    implementation:
      container:
        amlEnvironment:
          python:
            condaDependencies:
              channels:
              - defaults
              dependencies:
              - python=3.7.3
              - pip:
                - --extra-index-url=https://azuremlsdktestpypi.azureedge.net/CLI-SDK-Runners-Validation/19185956
                - azureml-defaults==0.1.0.19185956
                - azureml-pipeline-wrapper==0.1.0.19185956
              name: project_environment
          docker:
            baseImage: mcr.microsoft.com/azureml/base:intelmpi2018.3-ubuntu16.04
        command: [python, cleanse.py]
        args: [--input_data, {inputPath: Input data}, --useful_columns, {inputValue: Useful columns}, --new_names, {inputValue: New names}, --output_data, {outputPath: Output data}]
      os: Linux
    ...

    ```

In [196]:
clean_component = clean_fun(input_data='./data/green_unprepared.csv', useful_columns= "'vendorID','fareAmount','tripDistance','passengerCount'", new_names = "'vendorID': 'vendor'; 'fareAmount': 'cost'; 'tripDistance': 'distance'; 'passengerCount': 'passengers'")
clean_component.run(use_docker=False)

working dir is C:\Users\zhanxia\AppData\Local\Temp\85303384-3a5b-472a-8dd8-b326adcea2dd
Preparing snapshot
Prepared snapshot, time elapsed 0:00:04.404932
Preparing experiment and run in run history
Prepared experiment and run in run history, time elapsed 0:00:03.971002
RunId:7fd4aa4d-cc58-4b13-82c7-964cc6e4ff94
Link to Azure Machine Learning Portal:https://ml.azure.com/experiments/nyc_clean/runs/7fd4aa4d-cc58-4b13-82c7-964cc6e4ff94?wsid=/subscriptions/ee85ed72-2b26-48f6-a0e8-cb5bcf98fbd9/resourcegroups/MT/workspaces/zhanxiaAML
Start running component nyc clean
Finish running component nyc clean, component run status is Completed
Finish upload run status to runhistory

'Completed'

In [197]:
clean_component_yellow = clean_fun(input_data='./data/yellow_unprepared.csv', useful_columns= "'vendorID','fareAmount','tripDistance','passengerCount'", new_names = "'vendorID': 'vendor'; 'fareAmount': 'cost'; 'tripDistance': 'distance'; 'passengerCount': 'passengers'")
clean_component.run(use_docker=False)

working dir is C:\Users\zhanxia\AppData\Local\Temp\85303384-3a5b-472a-8dd8-b326adcea2dd
Preparing snapshot
Prepared snapshot, time elapsed 0:00:11.449944
Preparing experiment and run in run history
Prepared experiment and run in run history, time elapsed 0:00:02.228999
RunId:7124d04a-2f88-4708-a68f-eb5742a171aa
Link to Azure Machine Learning Portal:https://ml.azure.com/experiments/nyc_clean/runs/7124d04a-2f88-4708-a68f-eb5742a171aa?wsid=/subscriptions/ee85ed72-2b26-48f6-a0e8-cb5bcf98fbd9/resourcegroups/MT/workspaces/zhanxiaAML
Start running component nyc clean
Finish running component nyc clean, component run status is Completed
Finish upload run status to runhistory

'Completed'

In [199]:
from merge import merge
merge_func = component.from_func(workspace,merge)
help(merge_func)

Help on function [component] nyc taxi merge (namespace: zhanxiaAML):

[component] nyc taxi merge (namespace: zhanxiaAML)(*, cleaned_yellow_data: "['AnyDirectory']" = None, cleaned_green_data: "['AnyDirectory']" = None)
    merge two datasets

    component yaml:
    ```yaml
    amlcomponentIdentifier:
      namespace: zhanxiaAML
      componentName: nyc taxi merge
      componentVersion: 0.0.1
    isDeterministic: True
    jobType: Basic
    description: merge two datasets
    metadata:
      annotations:
        codegenBy: dsl.component
    inputs:
    - name: Cleaned yellow data
      type: AnyDirectory
      optional: False
      description: cleaned yellow data, needs to be read as pandas dataframe
      argumentName: cleaned_yellow_data
    - name: Cleaned green data
      type: AnyDirectory
      optional: False
      description: cleaned green data, needs to be read as pandas dataframe
      argumentName: cleaned_green_data
    outputs:
    - name: Merged output
      type: AnyDirectory
      description: output data after merge
      argumentName: merged_output
    implementation:
      container:
        amlEnvironment:
          python:
            condaDependencies:
              channels:
              - defaults
              dependencies:
              - python=3.7.3
              - pip:
                - --extra-index-url=https://azuremlsdktestpypi.azureedge.net/CLI-SDK-Runners-Validation/19185956
                - azureml-defaults==0.1.0.19185956
                - azureml-pipeline-wrapper==0.1.0.19185956
              name: project_environment
          docker:
            baseImage: mcr.microsoft.com/azureml/base:intelmpi2018.3-ubuntu16.04
        command: [python, merge.py]
        args: [--cleaned_yellow_data, {inputPath: Cleaned yellow data}, --cleaned_green_data, {inputPath: Cleaned green data}, --merged_output, {outputPath: Merged output}]
      os: Linux
    ...

    ```

In [200]:
component_merge = merge_func(cleaned_green_data='./data/green_processed.csv', cleaned_yellow_data='./data/yellow_processed.csv')
component_merge.run(use_docker=False)

working dir is C:\Users\zhanxia\AppData\Local\Temp\68d8a277-849e-4825-889d-49810d26cc06
Preparing snapshot
Prepared snapshot, time elapsed 0:00:05.114038
Preparing experiment and run in run history
Prepared experiment and run in run history, time elapsed 0:00:06.339994
RunId:3a52430f-bdd4-4987-b166-cdea15e77e13
Link to Azure Machine Learning Portal:https://ml.azure.com/experiments/nyc_taxi_merge/runs/3a52430f-bdd4-4987-b166-cdea15e77e13?wsid=/subscriptions/ee85ed72-2b26-48f6-a0e8-cb5bcf98fbd9/resourcegroups/MT/workspaces/zhanxiaAML
Start running component nyc taxi merge
Finish running component nyc taxi merge, component run status is Completed
Finish upload run status to runhistory

'Completed'